@{
    ViewBag.Title = "Galimir Bozmarov Home Page";
}

<header class="text-capitalize center-block justify-content-center">
    <h1 class="display-4">CO453 Applications Programming</h1>
    <h2>by Galimir Bozmarov</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a>Distance Converter</a>
        </li>
        <li class="list-group-item">
            <a>BMI Calculator</a>
        </li>
    </ol>
</section>